.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  font-family: Arial, sans-serif;
}

.genre-filter {
  margin-right: 10px;
}

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  position: relative;
  width: calc(25% - 20px);
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.3s;
  text-align: left;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card-image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.movie-card-image {
  max-height: 500px;
  opacity: 0.8;
  object-fit: cover;
}

.movie-card-image:hover {
  opacity: 1;
}

.movie-card-overlay {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.3s;
  font-size: 12px;
  width: 100%;
}

.movie-card:hover .movie-card-overlay {
  opacity: 1;
}

@media (max-width: 767px) {
  .movie-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .movie-card {
    width: 100%;
  }
}

.genre-filters {
  display: flex;
  overflow-x: auto;
  padding: 20px 80px;
  gap: 10px;
  white-space: nowrap;
  background: rgb(33, 33, 33);

  @media (max-width: 768px) {
    padding: 20px 60px;
  }

  @media (max-width: 480px) {
    padding: 20px 40px;
  }
}

.genre-chip {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(63, 63, 63);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  flex: 0 0 auto;
}

.genre-filters::-webkit-scrollbar {
  display: none;
}

.genre-chip:hover {
  background-color: red;
}

.genre-chip.selected {
  background-color: red;
  color: #fff;
}

.title {
  margin: 0;
  text-align: left;
  color: rgb(238, 36, 53);
}

.movie-list {
  background: rgb(19, 19, 19);
  padding: 20px 80px;

  @media (max-width: 768px) {
    padding: 20px 60px;
  }

  @media (max-width: 480px) {
    padding: 20px 40px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px 40px 0 80px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.search-bar {
  height: 30px;
  margin-left: auto;
  padding: 0 80px;

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.loading {
  transform: scale(2);
  text-align: center;
  margin-top: 50px;
}
